div#cards {
    margin: 10px;  
} 

header.sticky-top {
    border: rgb(163, 163, 163) 1px solid;
    max-height: 100%;
    max-width: 100%;
}

.cart {
    padding-right: 20px;
}

.card-img-top {
    height: auto;
    width: auto;
    max-width: 350px;
}

.card {
    height: auto;
    width: auto;
    max-width: 350px;
}
